html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
html, button, input, select, option, textarea {
  font-size: 12pt;
  background: #fff;
  color: #000;
}
html, body {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 2px solid #000;
}

* {
  box-sizing: border-box;
  position: relative;
}

* + *, p, .pell-content > *:not(:first-child) { /* Consolidating .pell-content here to reduce repetition */
  margin: .5rem 0;
}

main > * { padding: 1rem 1.5rem; }

#g:not([open]), .sb .n {
  display: none;
}

input, select, textarea {
  padding: .5rem;
}

.np { max-width: 8rem; }
button, summary {
  text-align: center;
  color: #fff;
  padding: 5px 12px;
  background-color: #65A;
  border: 0;
  border-radius: 1rem;
}
a, button, summary { cursor: pointer; }
a {
  text-decoration: none;
  color: #65A;
}
:is(a, button):is(:hover, :active, :visited) {
  opacity: .8;
}
a.e {
  color: red;
}
a:is([target="_blank"], .e):after {
  font-size: 70%;
  vertical-align: top;
  margin-left: 3px;
}
a[target="_blank"]:after {
  content: "\29C9"; /* two joined squares for external link */
}
a.e:after {
  content: "!";
}

nav ul { list-style: none; }
ul, ol { padding: 0 0 0 1rem; }

label { display: block; }

blockquote {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: 3px solid #888;
}

abbr[title] { cursor: help; }

/* title */
.t {
  font-size: 1.5rem;
  font-weight: bold;
}
.sb { background: #ddd; }
/* default width for all widths is 100% for small screens—no columns */
.w1, .w34, .w12, .w14, .r, main { width: 100%; }
/* tabs */
.tabs > * {
  border: 2px solid #65A;
  border-bottom: 0;
  border-radius: .5rem .5rem 0 0;
  margin: 0;
}
.a {
  background: #87C;
}
@media(min-width:50rem) {
  /* row */
  .r, main {
      display: table;
      border-spacing: 1rem 0;
  }
  /* Row, no spacing */
  .r.ns, main { border-spacing: 0; }
  /* column */
  .c, main > * {
      display: table-cell !important;
      vertical-align: top;
  }
  /* sidebar */
  .sb {
    width: 20%;
    min-width: 200px;
    max-width: 500px;
    height: 100vh;
    overflow-y: auto;
  }
  .sb .n { display: unset; }
  /* sidebar toggle */
  .sbt { display: none; }
  /* fractional widths */
  .w34 { width: 75%; }
  .w12 { width: 50%; }
  .w13 { width: 33%; }
  .w14 { width: 25%; }

  body > footer {
    position: absolute;
    inset: auto 1.5rem 0;
  }
  
  .tr { text-align: right; }
  .fr { float: right; }
}

/* screen reader only */
.sr {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
/* Allow overriding on mobile (mobile left) */
.tr:not(.ml) { text-align: right; }
.fr:not(.ml) { float: right; }
.chg, .del {
  background: red;
}
.del {
  opacity: .8;
}
/* field help */
.h, .del { font-size: .8rem; }
.db { display: block; }
.il { display: inline; }
.ib { display: inline-block; }
.at { vertical-align: top; }


/* extra padding on bottom only */
.pb { margin: 0 0 1.5rem !important; }

/* User Content */
.uc a {
  text-decoration: underline;
}

form, .mw { max-width: 1000px; }
/**** pell edior ***/
#g, input, select, textarea, .ed {
  border: 1px solid #000;
  border-radius: 3px;
  max-width: 1000px;
}
.ed * {
  margin: unset;
}

.pell-content, textarea, #g, .g { /* g here stands for gallery :) */
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  margin: 0 auto;
}
.pell-content, textarea {
  height: 50vh;
  min-height: 300px;
  max-height: 600px;
}

.pell-actionbar {
  border-bottom: 1px solid #000;
}

.pell-button {
  background: transparent;
  color: #000;
  vertical-align: middle;
}

.pell-button-selected {
  background: #ddd;
}
